################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back/Trabalho.Final.Visual.Api/bin/Debug/net5.0
